<footer class="footer mt-auto py-3">
    <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link px-2 mylink">Главная</a></li>
        <li class="nav-item"><a href="{% url 'catalog:item-list' %}" class="nav-link px-2 mylink">Каталог</a></li>
        <li class="nav-item"><a href="{% url 'about:description' %}" class="nav-link px-2 mylink">О нас</a></li>
        <li class="nav-item"><a href="{% url 'feedback:feedback' %}" class="nav-link px-2 mylink">Отзыв</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </div>
</footer>
